.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nameLogo {
    color: rgb(16, 16, 16);
	font-size: 25px;
	font-weight: 700;
	line-height: 30px;
	text-align: left;
}

.select {
    padding: 0;
    border: none;
    background: none;
}

.content {
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 10px;
    align-items: center;
}


.headerLogo {
    margin-right: 125px;
}

.phone {
    margin-right: 15px;
}

.selectlast {
    padding: 0;
    border: none;
    background: none;
    margin-right: 598px;
    margin-left: 5px;
    display: flex;
}

.phoneModal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectmidl {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    padding: 0;
    border: none;
    background: none;
}

.rightHeader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.orangeCircle {
    padding: 2px 5px;
    background-color: rgb(255, 165, 66);
    border-radius: 50%;
    color: white;
    position: absolute;
    bottom: 11px;
    left: 15px;
}

.basket {
    margin-left: 45px;
}

.favorite {
    padding: 0;
    border: none;
    background: none;
}

.orangeCircleTwo {
    padding: 2px 5px;
    background-color: rgb(255, 165, 66);
    border-radius: 50%;
    color: white;
    position: absolute;
    bottom: 11px;
    left: 62px;
}

.basketBtn {
    padding: 0;
    border: none;
    background: none;
}

.favoriteProduct {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basketProducts {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
	align-items: center;
}


@media (max-width: 768px) {
    .content {
        width: 100%;
        padding: 5px 5px;
        
        .nameLogo {
            margin-right: 0;
        }

        .phoneModal {
            position: fixed;
			display: flex;
			width: 100%;
			height: 100px;
			left: 0;
			top: 0;
			justify-content: center;
			align-items: center;
			border: 1px solid #c8c8c8;
			background-color: #fff;
			z-index: 999;
			transform: translateY(0);
			transition: all 0.4s ease-in-out;
        }
        .selectlast {
            position: absolute;
			bottom: -30px;
			display: block !important;
			background-color: transparent;
		    cursor: pointer;
			z-index: 999;
        }

        .phoneModal {
            transform: translateY(-200%);
			transition: all 0.4s ease-in-out;
        }

        .basketBtn {
            display: block;
        }
        .selectlast {
            width: 22px;
			height: 20px;
			color: #fff;
        }

        
    }
}

@media (max-width: 1024px) {
    .content {
        width: 100%;
        padding: 5px 5px;

        .nameLogo {
            margin-right: 0;
        }

        .phoneModal {
            position: fixed;
			display: flex;
			width: 100%;
			height: 100px;
			left: 0;
			top: 0;
			justify-content: center;
			align-items: center;
			border: 1px solid #c8c8c8;
			background-color: #fff;
			z-index: 999;
			transform: translateY(0);
			transition: all 0.4s ease-in-out;
        }
        .selectlast {
            position: absolute;
			bottom: -30px;
			display: block !important;
			background-color: transparent;
		    cursor: pointer;
			z-index: 999;
        }

        .phoneModal {
            transform: translateY(-200%);
			transition: all 0.4s ease-in-out;
        }

        .basketBtn {
            display: block;
        }
        .selectlast {
            width: 22px;
			height: 20px;
			color: #fff;
        }
    }
}
